# Ignore LaTeX build artefacts
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
TAGS
_region_.tex
_region_.prv/

# Ignore zip files
*.zip

# Ignore specific files
cover.pdf
include/sclinclude.fp
include/styles.fps

# Ignore directories
tikz/
fretplot/
CTAN_contrib/